.link-show-more {
	font-weight: 500;
	color: rgba(0, 160, 171, 1);
	font-size: 14px;
	line-height: 115%;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	display: block;
	position: relative;
	padding-right: 20px;
	float: right;
	background-color: inherit;
	&:hover {
		font-size: 15px;
	}
	&:before {
		content: "";
		width: 10px;
		height: 10px;
		border-top: 2px solid rgba(0, 160, 171, 1);
		border-right: 2px solid rgba(0, 160, 171, 1);
		position: absolute;
		top: 0;
		transform: rotate(135deg);
		right: 0;
		transition: all 0.3s ease 0s;
	}
	&.link-hide::before {
		transform: rotate(-45deg);
		top: 40%;
		transition: all 0.3s ease 0s;
	}
}
